<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chatty.myself.chattyv001"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:label="Chatty"
        android:theme="@style/MyMaterialTheme"

        >
        <activity
            android:name=".MainActivity_"
            android:icon="@drawable/chatty"
            android:label="Chatty"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginPageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SignInPageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".InterestDetailPageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoadingPageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".LivingPageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DecisionPageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="InfoPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".GallaryPageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".SelectUnitPageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>
